{
  "extends": [
    "plugin:prettier/recommended",
    "standard-jsx",
    "prettier",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["jest", "react", "react-hooks", "prettier", "jsx-a11y"],
  "env": {
    "browser": true
  },
  "rules": {
    "prefer-promise-reject-errors": ["off"],
    "prettier/prettier": ["error"],
    "react-hooks/rules-of-hooks": ["error"],
    "react-hooks/exhaustive-deps": ["warn"],
    "react/jsx-indent": ["off"],
    "react/jsx-pascal-case": [1, { "allowAllCaps": true }],
    "react/jsx-curly-newline": 0,
    "react/jsx-handler-names": 1,
    "no-unused-expressions": 0

  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
