{
  "extends": [
    "plugin:prettier/recommended",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "env": {
    "jest": true
  },
  "rules": {
    "prefer-promise-reject-errors": ["off"],
    "prettier/prettier": ["error"],
    "no-unused-expressions": 0,
    // typescript rules
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-ts-comment": "warn"
  },
  "settings": {

  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
}
}
